[Unit]
Description=Script Serveur
After=network.target

[Service]
ExecStart=/bin/python3 app.py
Restart=on-failure
User=administrator
Group=administrator
WorkingDirectory=/home/administrator/SecureRoom/server/

[Install]
WantedBy=multi-user.target
